:root {
    --bg-pokemon-red: #CE1C24;
}

.red {
    background-color: #ff0000;
}

.yellow {
    background-color: #fecb65;
}

.green {
    background-color: #32cb65;
}

.blue {
    background-color: #3298cb;
}

.light-blue {
    background-color: #85bdfe;
}

.light-red {
    background-color: #fe98cb;
}

.light-yellow {
    background-color: #fefecb;
}

.light-green {
    background-color: #98fe00;
}

.bg-pokemon-red{
    background-color: var(--bg-pokemon-red);
}

.bg-light-blue {
    background-color: #7ca9f7;
}

.bg-light-grey {
    background-color: #dddddd;
}

.bg-dark-grey {
    background-color: #585858;
}

.shadow-inner-blue {
    box-shadow: inset -2px -2px #3298cb;
}

.shadow-inner-grey {
    box-shadow: inset -2px -2px grey;
}