:root {
    --main-bg-color: #CE1C24;
    --secondary-screen-bg-color: #ddd;
    --main-buttons-color: #585858;
    --square-buttons-color: #7ca9f7;
}

.red {
    background-color: #ff0000;
}

.yellow {
    background-color: #fecb65;
}

.green {
    background-color: #32cb65;
}

.blue {
    background-color: #3298cb;
}

.light-blue {
    background-color: #85bdfe;
}

.light-red {
    background-color: #fe98cb;
}

.light-yellow {
    background-color: #fefecb;
}

.light-green {
    background-color: #98fe00;
}

.bg-dark-grey{
    background-color: #585858;
}