:root {
    --transform: 1;
    --border--transform: 0px;
}

svg.transform-1 {
    display: block;
}
svg.transform-2 {
    display: none;
}

@media all and (min-width: calc(228px * 4)) {
    :root {
        --transform: 2;
        --border--transform: 1px;
    }
    svg.transform-1 {
        display: none;
    }
    svg.transform-2 {
        display: block;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/images/bg-low-res.jpg);
    transition: background-image 0.5s ease-in-out;
    font-family: 'Press Start 2P', cursive;
}

body::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    background-color: rgba(0, 0, 0, 0.6);
}

.pokedex {
    width: calc(228px * 2 * var(--transform));
}

.pokedex .left-panel {
    grid-template-rows: calc(77px * var(--transform)) repeat(3, 1fr);
    grid-row-gap: calc(7px * var(--transform));
}

.pokedex .left-panel .pokemon-visual {
    border-radius: 0 0 0 17%;
    grid-template-rows: 10% 72% 18%;
}

.pokedex .left-panel .pokemon-visual .js-flickity .slide {
    height: calc(105px * var(--transform));
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto calc(100px * var(--transform));
    background-image: url('/assets/images/loading.svg');
    transition: background-image 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.pokedex .right-panel {
    grid-template-rows: calc(77px * var(--transform)) repeat(2, 1fr) calc(7px * var(--transform)) repeat(2, 1fr);
    grid-row-gap: calc(7px * var(--transform));
}

.pokedex .right-panel::before {
    content: '';
    position: absolute;
    background-color: var(--bg-pokemon-red);
    bottom: 0;
    width: 100%;
    height: calc(265px * var(--transform));
    border-right: solid black 2px;
    border-bottom-right-radius: .5rem;
    z-index: -2;
}

@media all and (min-width: calc(228px * 4)) {
    .pokedex .right-panel::before {
        border-right: solid black 3px;
    }
}