.w-tf-1 {
    width: calc(1px * var(--transform));
}

.h-tf-1 {
    height: calc(1px * var(--transform));
}

.mt-tf-1 {
    margin-top: calc(1px * var(--transform));
}

.mr-tf-1 {
    margin-right: calc(1px * var(--transform));
}

.mb-tf-1 {
    margin-bottom: calc(1px * var(--transform));
}

.ml-tf-1 {
    margin-left: calc(1px * var(--transform));
}

.top-tf-1 {
    top: calc(1px * var(--transform));
}

.left-tf-1 {
    left: calc(1px * var(--transform));
}

.bottom-tf-1 {
    bottom: calc(1px * var(--transform));
}

.right-tf-1 {
    right: calc(1px * var(--transform));
}

.w-tf-2 {
    width: calc(2px * var(--transform));
}

.h-tf-2 {
    height: calc(2px * var(--transform));
}

.mt-tf-2 {
    margin-top: calc(2px * var(--transform));
}

.mr-tf-2 {
    margin-right: calc(2px * var(--transform));
}

.mb-tf-2 {
    margin-bottom: calc(2px * var(--transform));
}

.ml-tf-2 {
    margin-left: calc(2px * var(--transform));
}

.top-tf-2 {
    top: calc(2px * var(--transform));
}

.left-tf-2 {
    left: calc(2px * var(--transform));
}

.bottom-tf-2 {
    bottom: calc(2px * var(--transform));
}

.right-tf-2 {
    right: calc(2px * var(--transform));
}

.w-tf-3 {
    width: calc(3px * var(--transform));
}

.h-tf-3 {
    height: calc(3px * var(--transform));
}

.mt-tf-3 {
    margin-top: calc(3px * var(--transform));
}

.mr-tf-3 {
    margin-right: calc(3px * var(--transform));
}

.mb-tf-3 {
    margin-bottom: calc(3px * var(--transform));
}

.ml-tf-3 {
    margin-left: calc(3px * var(--transform));
}

.top-tf-3 {
    top: calc(3px * var(--transform));
}

.left-tf-3 {
    left: calc(3px * var(--transform));
}

.bottom-tf-3 {
    bottom: calc(3px * var(--transform));
}

.right-tf-3 {
    right: calc(3px * var(--transform));
}

.w-tf-4 {
    width: calc(4px * var(--transform));
}

.h-tf-4 {
    height: calc(4px * var(--transform));
}

.mt-tf-4 {
    margin-top: calc(4px * var(--transform));
}

.mr-tf-4 {
    margin-right: calc(4px * var(--transform));
}

.mb-tf-4 {
    margin-bottom: calc(4px * var(--transform));
}

.ml-tf-4 {
    margin-left: calc(4px * var(--transform));
}

.top-tf-4 {
    top: calc(4px * var(--transform));
}

.left-tf-4 {
    left: calc(4px * var(--transform));
}

.bottom-tf-4 {
    bottom: calc(4px * var(--transform));
}

.right-tf-4 {
    right: calc(4px * var(--transform));
}

.w-tf-5 {
    width: calc(5px * var(--transform));
}

.h-tf-5 {
    height: calc(5px * var(--transform));
}

.mt-tf-5 {
    margin-top: calc(5px * var(--transform));
}

.mr-tf-5 {
    margin-right: calc(5px * var(--transform));
}

.mb-tf-5 {
    margin-bottom: calc(5px * var(--transform));
}

.ml-tf-5 {
    margin-left: calc(5px * var(--transform));
}

.top-tf-5 {
    top: calc(5px * var(--transform));
}

.left-tf-5 {
    left: calc(5px * var(--transform));
}

.bottom-tf-5 {
    bottom: calc(5px * var(--transform));
}

.right-tf-5 {
    right: calc(5px * var(--transform));
}

.w-tf-6 {
    width: calc(6px * var(--transform));
}

.h-tf-6 {
    height: calc(6px * var(--transform));
}

.mt-tf-6 {
    margin-top: calc(6px * var(--transform));
}

.mr-tf-6 {
    margin-right: calc(6px * var(--transform));
}

.mb-tf-6 {
    margin-bottom: calc(6px * var(--transform));
}

.ml-tf-6 {
    margin-left: calc(6px * var(--transform));
}

.top-tf-6 {
    top: calc(6px * var(--transform));
}

.left-tf-6 {
    left: calc(6px * var(--transform));
}

.bottom-tf-6 {
    bottom: calc(6px * var(--transform));
}

.right-tf-6 {
    right: calc(6px * var(--transform));
}

.w-tf-7 {
    width: calc(7px * var(--transform));
}

.h-tf-7 {
    height: calc(7px * var(--transform));
}

.mt-tf-7 {
    margin-top: calc(7px * var(--transform));
}

.mr-tf-7 {
    margin-right: calc(7px * var(--transform));
}

.mb-tf-7 {
    margin-bottom: calc(7px * var(--transform));
}

.ml-tf-7 {
    margin-left: calc(7px * var(--transform));
}

.top-tf-7 {
    top: calc(7px * var(--transform));
}

.left-tf-7 {
    left: calc(7px * var(--transform));
}

.bottom-tf-7 {
    bottom: calc(7px * var(--transform));
}

.right-tf-7 {
    right: calc(7px * var(--transform));
}

.w-tf-8 {
    width: calc(8px * var(--transform));
}

.h-tf-8 {
    height: calc(8px * var(--transform));
}

.mt-tf-8 {
    margin-top: calc(8px * var(--transform));
}

.mr-tf-8 {
    margin-right: calc(8px * var(--transform));
}

.mb-tf-8 {
    margin-bottom: calc(8px * var(--transform));
}

.ml-tf-8 {
    margin-left: calc(8px * var(--transform));
}

.top-tf-8 {
    top: calc(8px * var(--transform));
}

.left-tf-8 {
    left: calc(8px * var(--transform));
}

.bottom-tf-8 {
    bottom: calc(8px * var(--transform));
}

.right-tf-8 {
    right: calc(8px * var(--transform));
}

.w-tf-9 {
    width: calc(9px * var(--transform));
}

.h-tf-9 {
    height: calc(9px * var(--transform));
}

.mt-tf-9 {
    margin-top: calc(9px * var(--transform));
}

.mr-tf-9 {
    margin-right: calc(9px * var(--transform));
}

.mb-tf-9 {
    margin-bottom: calc(9px * var(--transform));
}

.ml-tf-9 {
    margin-left: calc(9px * var(--transform));
}

.top-tf-9 {
    top: calc(9px * var(--transform));
}

.left-tf-9 {
    left: calc(9px * var(--transform));
}

.bottom-tf-9 {
    bottom: calc(9px * var(--transform));
}

.right-tf-9 {
    right: calc(9px * var(--transform));
}

.w-tf-10 {
    width: calc(10px * var(--transform));
}

.h-tf-10 {
    height: calc(10px * var(--transform));
}

.mt-tf-10 {
    margin-top: calc(10px * var(--transform));
}

.mr-tf-10 {
    margin-right: calc(10px * var(--transform));
}

.mb-tf-10 {
    margin-bottom: calc(10px * var(--transform));
}

.ml-tf-10 {
    margin-left: calc(10px * var(--transform));
}

.top-tf-10 {
    top: calc(10px * var(--transform));
}

.left-tf-10 {
    left: calc(10px * var(--transform));
}

.bottom-tf-10 {
    bottom: calc(10px * var(--transform));
}

.right-tf-10 {
    right: calc(10px * var(--transform));
}

.w-tf-11 {
    width: calc(11px * var(--transform));
}

.h-tf-11 {
    height: calc(11px * var(--transform));
}

.mt-tf-11 {
    margin-top: calc(11px * var(--transform));
}

.mr-tf-11 {
    margin-right: calc(11px * var(--transform));
}

.mb-tf-11 {
    margin-bottom: calc(11px * var(--transform));
}

.ml-tf-11 {
    margin-left: calc(11px * var(--transform));
}

.top-tf-11 {
    top: calc(11px * var(--transform));
}

.left-tf-11 {
    left: calc(11px * var(--transform));
}

.bottom-tf-11 {
    bottom: calc(11px * var(--transform));
}

.right-tf-11 {
    right: calc(11px * var(--transform));
}

.w-tf-12 {
    width: calc(12px * var(--transform));
}

.h-tf-12 {
    height: calc(12px * var(--transform));
}

.mt-tf-12 {
    margin-top: calc(12px * var(--transform));
}

.mr-tf-12 {
    margin-right: calc(12px * var(--transform));
}

.mb-tf-12 {
    margin-bottom: calc(12px * var(--transform));
}

.ml-tf-12 {
    margin-left: calc(12px * var(--transform));
}

.top-tf-12 {
    top: calc(12px * var(--transform));
}

.left-tf-12 {
    left: calc(12px * var(--transform));
}

.bottom-tf-12 {
    bottom: calc(12px * var(--transform));
}

.right-tf-12 {
    right: calc(12px * var(--transform));
}

.w-tf-13 {
    width: calc(13px * var(--transform));
}

.h-tf-13 {
    height: calc(13px * var(--transform));
}

.mt-tf-13 {
    margin-top: calc(13px * var(--transform));
}

.mr-tf-13 {
    margin-right: calc(13px * var(--transform));
}

.mb-tf-13 {
    margin-bottom: calc(13px * var(--transform));
}

.ml-tf-13 {
    margin-left: calc(13px * var(--transform));
}

.top-tf-13 {
    top: calc(13px * var(--transform));
}

.left-tf-13 {
    left: calc(13px * var(--transform));
}

.bottom-tf-13 {
    bottom: calc(13px * var(--transform));
}

.right-tf-13 {
    right: calc(13px * var(--transform));
}

.w-tf-14 {
    width: calc(14px * var(--transform));
}

.h-tf-14 {
    height: calc(14px * var(--transform));
}

.mt-tf-14 {
    margin-top: calc(14px * var(--transform));
}

.mr-tf-14 {
    margin-right: calc(14px * var(--transform));
}

.mb-tf-14 {
    margin-bottom: calc(14px * var(--transform));
}

.ml-tf-14 {
    margin-left: calc(14px * var(--transform));
}

.top-tf-14 {
    top: calc(14px * var(--transform));
}

.left-tf-14 {
    left: calc(14px * var(--transform));
}

.bottom-tf-14 {
    bottom: calc(14px * var(--transform));
}

.right-tf-14 {
    right: calc(14px * var(--transform));
}

.w-tf-15 {
    width: calc(15px * var(--transform));
}

.h-tf-15 {
    height: calc(15px * var(--transform));
}

.mt-tf-15 {
    margin-top: calc(15px * var(--transform));
}

.mr-tf-15 {
    margin-right: calc(15px * var(--transform));
}

.mb-tf-15 {
    margin-bottom: calc(15px * var(--transform));
}

.ml-tf-15 {
    margin-left: calc(15px * var(--transform));
}

.top-tf-15 {
    top: calc(15px * var(--transform));
}

.left-tf-15 {
    left: calc(15px * var(--transform));
}

.bottom-tf-15 {
    bottom: calc(15px * var(--transform));
}

.right-tf-15 {
    right: calc(15px * var(--transform));
}

.w-tf-16 {
    width: calc(16px * var(--transform));
}

.h-tf-16 {
    height: calc(16px * var(--transform));
}

.mt-tf-16 {
    margin-top: calc(16px * var(--transform));
}

.mr-tf-16 {
    margin-right: calc(16px * var(--transform));
}

.mb-tf-16 {
    margin-bottom: calc(16px * var(--transform));
}

.ml-tf-16 {
    margin-left: calc(16px * var(--transform));
}

.top-tf-16 {
    top: calc(16px * var(--transform));
}

.left-tf-16 {
    left: calc(16px * var(--transform));
}

.bottom-tf-16 {
    bottom: calc(16px * var(--transform));
}

.right-tf-16 {
    right: calc(16px * var(--transform));
}

.w-tf-17 {
    width: calc(17px * var(--transform));
}

.h-tf-17 {
    height: calc(17px * var(--transform));
}

.mt-tf-17 {
    margin-top: calc(17px * var(--transform));
}

.mr-tf-17 {
    margin-right: calc(17px * var(--transform));
}

.mb-tf-17 {
    margin-bottom: calc(17px * var(--transform));
}

.ml-tf-17 {
    margin-left: calc(17px * var(--transform));
}

.top-tf-17 {
    top: calc(17px * var(--transform));
}

.left-tf-17 {
    left: calc(17px * var(--transform));
}

.bottom-tf-17 {
    bottom: calc(17px * var(--transform));
}

.right-tf-17 {
    right: calc(17px * var(--transform));
}

.w-tf-18 {
    width: calc(18px * var(--transform));
}

.h-tf-18 {
    height: calc(18px * var(--transform));
}

.mt-tf-18 {
    margin-top: calc(18px * var(--transform));
}

.mr-tf-18 {
    margin-right: calc(18px * var(--transform));
}

.mb-tf-18 {
    margin-bottom: calc(18px * var(--transform));
}

.ml-tf-18 {
    margin-left: calc(18px * var(--transform));
}

.top-tf-18 {
    top: calc(18px * var(--transform));
}

.left-tf-18 {
    left: calc(18px * var(--transform));
}

.bottom-tf-18 {
    bottom: calc(18px * var(--transform));
}

.right-tf-18 {
    right: calc(18px * var(--transform));
}

.w-tf-19 {
    width: calc(19px * var(--transform));
}

.h-tf-19 {
    height: calc(19px * var(--transform));
}

.mt-tf-19 {
    margin-top: calc(19px * var(--transform));
}

.mr-tf-19 {
    margin-right: calc(19px * var(--transform));
}

.mb-tf-19 {
    margin-bottom: calc(19px * var(--transform));
}

.ml-tf-19 {
    margin-left: calc(19px * var(--transform));
}

.top-tf-19 {
    top: calc(19px * var(--transform));
}

.left-tf-19 {
    left: calc(19px * var(--transform));
}

.bottom-tf-19 {
    bottom: calc(19px * var(--transform));
}

.right-tf-19 {
    right: calc(19px * var(--transform));
}

.w-tf-20 {
    width: calc(20px * var(--transform));
}

.h-tf-20 {
    height: calc(20px * var(--transform));
}

.mt-tf-20 {
    margin-top: calc(20px * var(--transform));
}

.mr-tf-20 {
    margin-right: calc(20px * var(--transform));
}

.mb-tf-20 {
    margin-bottom: calc(20px * var(--transform));
}

.ml-tf-20 {
    margin-left: calc(20px * var(--transform));
}

.top-tf-20 {
    top: calc(20px * var(--transform));
}

.left-tf-20 {
    left: calc(20px * var(--transform));
}

.bottom-tf-20 {
    bottom: calc(20px * var(--transform));
}

.right-tf-20 {
    right: calc(20px * var(--transform));
}

.w-tf-21 {
    width: calc(21px * var(--transform));
}

.h-tf-21 {
    height: calc(21px * var(--transform));
}

.mt-tf-21 {
    margin-top: calc(21px * var(--transform));
}

.mr-tf-21 {
    margin-right: calc(21px * var(--transform));
}

.mb-tf-21 {
    margin-bottom: calc(21px * var(--transform));
}

.ml-tf-21 {
    margin-left: calc(21px * var(--transform));
}

.top-tf-21 {
    top: calc(21px * var(--transform));
}

.left-tf-21 {
    left: calc(21px * var(--transform));
}

.bottom-tf-21 {
    bottom: calc(21px * var(--transform));
}

.right-tf-21 {
    right: calc(21px * var(--transform));
}

.w-tf-22 {
    width: calc(22px * var(--transform));
}

.h-tf-22 {
    height: calc(22px * var(--transform));
}

.mt-tf-22 {
    margin-top: calc(22px * var(--transform));
}

.mr-tf-22 {
    margin-right: calc(22px * var(--transform));
}

.mb-tf-22 {
    margin-bottom: calc(22px * var(--transform));
}

.ml-tf-22 {
    margin-left: calc(22px * var(--transform));
}

.top-tf-22 {
    top: calc(22px * var(--transform));
}

.left-tf-22 {
    left: calc(22px * var(--transform));
}

.bottom-tf-22 {
    bottom: calc(22px * var(--transform));
}

.right-tf-22 {
    right: calc(22px * var(--transform));
}

.w-tf-23 {
    width: calc(23px * var(--transform));
}

.h-tf-23 {
    height: calc(23px * var(--transform));
}

.mt-tf-23 {
    margin-top: calc(23px * var(--transform));
}

.mr-tf-23 {
    margin-right: calc(23px * var(--transform));
}

.mb-tf-23 {
    margin-bottom: calc(23px * var(--transform));
}

.ml-tf-23 {
    margin-left: calc(23px * var(--transform));
}

.top-tf-23 {
    top: calc(23px * var(--transform));
}

.left-tf-23 {
    left: calc(23px * var(--transform));
}

.bottom-tf-23 {
    bottom: calc(23px * var(--transform));
}

.right-tf-23 {
    right: calc(23px * var(--transform));
}

.w-tf-24 {
    width: calc(24px * var(--transform));
}

.h-tf-24 {
    height: calc(24px * var(--transform));
}

.mt-tf-24 {
    margin-top: calc(24px * var(--transform));
}

.mr-tf-24 {
    margin-right: calc(24px * var(--transform));
}

.mb-tf-24 {
    margin-bottom: calc(24px * var(--transform));
}

.ml-tf-24 {
    margin-left: calc(24px * var(--transform));
}

.top-tf-24 {
    top: calc(24px * var(--transform));
}

.left-tf-24 {
    left: calc(24px * var(--transform));
}

.bottom-tf-24 {
    bottom: calc(24px * var(--transform));
}

.right-tf-24 {
    right: calc(24px * var(--transform));
}

.w-tf-25 {
    width: calc(25px * var(--transform));
}

.h-tf-25 {
    height: calc(25px * var(--transform));
}

.mt-tf-25 {
    margin-top: calc(25px * var(--transform));
}

.mr-tf-25 {
    margin-right: calc(25px * var(--transform));
}

.mb-tf-25 {
    margin-bottom: calc(25px * var(--transform));
}

.ml-tf-25 {
    margin-left: calc(25px * var(--transform));
}

.top-tf-25 {
    top: calc(25px * var(--transform));
}

.left-tf-25 {
    left: calc(25px * var(--transform));
}

.bottom-tf-25 {
    bottom: calc(25px * var(--transform));
}

.right-tf-25 {
    right: calc(25px * var(--transform));
}

.w-tf-26 {
    width: calc(26px * var(--transform));
}

.h-tf-26 {
    height: calc(26px * var(--transform));
}

.mt-tf-26 {
    margin-top: calc(26px * var(--transform));
}

.mr-tf-26 {
    margin-right: calc(26px * var(--transform));
}

.mb-tf-26 {
    margin-bottom: calc(26px * var(--transform));
}

.ml-tf-26 {
    margin-left: calc(26px * var(--transform));
}

.top-tf-26 {
    top: calc(26px * var(--transform));
}

.left-tf-26 {
    left: calc(26px * var(--transform));
}

.bottom-tf-26 {
    bottom: calc(26px * var(--transform));
}

.right-tf-26 {
    right: calc(26px * var(--transform));
}

.w-tf-27 {
    width: calc(27px * var(--transform));
}

.h-tf-27 {
    height: calc(27px * var(--transform));
}

.mt-tf-27 {
    margin-top: calc(27px * var(--transform));
}

.mr-tf-27 {
    margin-right: calc(27px * var(--transform));
}

.mb-tf-27 {
    margin-bottom: calc(27px * var(--transform));
}

.ml-tf-27 {
    margin-left: calc(27px * var(--transform));
}

.top-tf-27 {
    top: calc(27px * var(--transform));
}

.left-tf-27 {
    left: calc(27px * var(--transform));
}

.bottom-tf-27 {
    bottom: calc(27px * var(--transform));
}

.right-tf-27 {
    right: calc(27px * var(--transform));
}

.w-tf-28 {
    width: calc(28px * var(--transform));
}

.h-tf-28 {
    height: calc(28px * var(--transform));
}

.mt-tf-28 {
    margin-top: calc(28px * var(--transform));
}

.mr-tf-28 {
    margin-right: calc(28px * var(--transform));
}

.mb-tf-28 {
    margin-bottom: calc(28px * var(--transform));
}

.ml-tf-28 {
    margin-left: calc(28px * var(--transform));
}

.top-tf-28 {
    top: calc(28px * var(--transform));
}

.left-tf-28 {
    left: calc(28px * var(--transform));
}

.bottom-tf-28 {
    bottom: calc(28px * var(--transform));
}

.right-tf-28 {
    right: calc(28px * var(--transform));
}

.w-tf-29 {
    width: calc(29px * var(--transform));
}

.h-tf-29 {
    height: calc(29px * var(--transform));
}

.mt-tf-29 {
    margin-top: calc(29px * var(--transform));
}

.mr-tf-29 {
    margin-right: calc(29px * var(--transform));
}

.mb-tf-29 {
    margin-bottom: calc(29px * var(--transform));
}

.ml-tf-29 {
    margin-left: calc(29px * var(--transform));
}

.top-tf-29 {
    top: calc(29px * var(--transform));
}

.left-tf-29 {
    left: calc(29px * var(--transform));
}

.bottom-tf-29 {
    bottom: calc(29px * var(--transform));
}

.right-tf-29 {
    right: calc(29px * var(--transform));
}

.w-tf-30 {
    width: calc(30px * var(--transform));
}

.h-tf-30 {
    height: calc(30px * var(--transform));
}

.mt-tf-30 {
    margin-top: calc(30px * var(--transform));
}

.mr-tf-30 {
    margin-right: calc(30px * var(--transform));
}

.mb-tf-30 {
    margin-bottom: calc(30px * var(--transform));
}

.ml-tf-30 {
    margin-left: calc(30px * var(--transform));
}

.top-tf-30 {
    top: calc(30px * var(--transform));
}

.left-tf-30 {
    left: calc(30px * var(--transform));
}

.bottom-tf-30 {
    bottom: calc(30px * var(--transform));
}

.right-tf-30 {
    right: calc(30px * var(--transform));
}

.w-tf-31 {
    width: calc(31px * var(--transform));
}

.h-tf-31 {
    height: calc(31px * var(--transform));
}

.mt-tf-31 {
    margin-top: calc(31px * var(--transform));
}

.mr-tf-31 {
    margin-right: calc(31px * var(--transform));
}

.mb-tf-31 {
    margin-bottom: calc(31px * var(--transform));
}

.ml-tf-31 {
    margin-left: calc(31px * var(--transform));
}

.top-tf-31 {
    top: calc(31px * var(--transform));
}

.left-tf-31 {
    left: calc(31px * var(--transform));
}

.bottom-tf-31 {
    bottom: calc(31px * var(--transform));
}

.right-tf-31 {
    right: calc(31px * var(--transform));
}

.w-tf-32 {
    width: calc(32px * var(--transform));
}

.h-tf-32 {
    height: calc(32px * var(--transform));
}

.mt-tf-32 {
    margin-top: calc(32px * var(--transform));
}

.mr-tf-32 {
    margin-right: calc(32px * var(--transform));
}

.mb-tf-32 {
    margin-bottom: calc(32px * var(--transform));
}

.ml-tf-32 {
    margin-left: calc(32px * var(--transform));
}

.top-tf-32 {
    top: calc(32px * var(--transform));
}

.left-tf-32 {
    left: calc(32px * var(--transform));
}

.bottom-tf-32 {
    bottom: calc(32px * var(--transform));
}

.right-tf-32 {
    right: calc(32px * var(--transform));
}

.w-tf-33 {
    width: calc(33px * var(--transform));
}

.h-tf-33 {
    height: calc(33px * var(--transform));
}

.mt-tf-33 {
    margin-top: calc(33px * var(--transform));
}

.mr-tf-33 {
    margin-right: calc(33px * var(--transform));
}

.mb-tf-33 {
    margin-bottom: calc(33px * var(--transform));
}

.ml-tf-33 {
    margin-left: calc(33px * var(--transform));
}

.top-tf-33 {
    top: calc(33px * var(--transform));
}

.left-tf-33 {
    left: calc(33px * var(--transform));
}

.bottom-tf-33 {
    bottom: calc(33px * var(--transform));
}

.right-tf-33 {
    right: calc(33px * var(--transform));
}

.w-tf-34 {
    width: calc(34px * var(--transform));
}

.h-tf-34 {
    height: calc(34px * var(--transform));
}

.mt-tf-34 {
    margin-top: calc(34px * var(--transform));
}

.mr-tf-34 {
    margin-right: calc(34px * var(--transform));
}

.mb-tf-34 {
    margin-bottom: calc(34px * var(--transform));
}

.ml-tf-34 {
    margin-left: calc(34px * var(--transform));
}

.top-tf-34 {
    top: calc(34px * var(--transform));
}

.left-tf-34 {
    left: calc(34px * var(--transform));
}

.bottom-tf-34 {
    bottom: calc(34px * var(--transform));
}

.right-tf-34 {
    right: calc(34px * var(--transform));
}

.w-tf-35 {
    width: calc(35px * var(--transform));
}

.h-tf-35 {
    height: calc(35px * var(--transform));
}

.mt-tf-35 {
    margin-top: calc(35px * var(--transform));
}

.mr-tf-35 {
    margin-right: calc(35px * var(--transform));
}

.mb-tf-35 {
    margin-bottom: calc(35px * var(--transform));
}

.ml-tf-35 {
    margin-left: calc(35px * var(--transform));
}

.top-tf-35 {
    top: calc(35px * var(--transform));
}

.left-tf-35 {
    left: calc(35px * var(--transform));
}

.bottom-tf-35 {
    bottom: calc(35px * var(--transform));
}

.right-tf-35 {
    right: calc(35px * var(--transform));
}

.w-tf-36 {
    width: calc(36px * var(--transform));
}

.h-tf-36 {
    height: calc(36px * var(--transform));
}

.mt-tf-36 {
    margin-top: calc(36px * var(--transform));
}

.mr-tf-36 {
    margin-right: calc(36px * var(--transform));
}

.mb-tf-36 {
    margin-bottom: calc(36px * var(--transform));
}

.ml-tf-36 {
    margin-left: calc(36px * var(--transform));
}

.top-tf-36 {
    top: calc(36px * var(--transform));
}

.left-tf-36 {
    left: calc(36px * var(--transform));
}

.bottom-tf-36 {
    bottom: calc(36px * var(--transform));
}

.right-tf-36 {
    right: calc(36px * var(--transform));
}

.w-tf-37 {
    width: calc(37px * var(--transform));
}

.h-tf-37 {
    height: calc(37px * var(--transform));
}

.mt-tf-37 {
    margin-top: calc(37px * var(--transform));
}

.mr-tf-37 {
    margin-right: calc(37px * var(--transform));
}

.mb-tf-37 {
    margin-bottom: calc(37px * var(--transform));
}

.ml-tf-37 {
    margin-left: calc(37px * var(--transform));
}

.top-tf-37 {
    top: calc(37px * var(--transform));
}

.left-tf-37 {
    left: calc(37px * var(--transform));
}

.bottom-tf-37 {
    bottom: calc(37px * var(--transform));
}

.right-tf-37 {
    right: calc(37px * var(--transform));
}

.w-tf-38 {
    width: calc(38px * var(--transform));
}

.h-tf-38 {
    height: calc(38px * var(--transform));
}

.mt-tf-38 {
    margin-top: calc(38px * var(--transform));
}

.mr-tf-38 {
    margin-right: calc(38px * var(--transform));
}

.mb-tf-38 {
    margin-bottom: calc(38px * var(--transform));
}

.ml-tf-38 {
    margin-left: calc(38px * var(--transform));
}

.top-tf-38 {
    top: calc(38px * var(--transform));
}

.left-tf-38 {
    left: calc(38px * var(--transform));
}

.bottom-tf-38 {
    bottom: calc(38px * var(--transform));
}

.right-tf-38 {
    right: calc(38px * var(--transform));
}

.w-tf-39 {
    width: calc(39px * var(--transform));
}

.h-tf-39 {
    height: calc(39px * var(--transform));
}

.mt-tf-39 {
    margin-top: calc(39px * var(--transform));
}

.mr-tf-39 {
    margin-right: calc(39px * var(--transform));
}

.mb-tf-39 {
    margin-bottom: calc(39px * var(--transform));
}

.ml-tf-39 {
    margin-left: calc(39px * var(--transform));
}

.top-tf-39 {
    top: calc(39px * var(--transform));
}

.left-tf-39 {
    left: calc(39px * var(--transform));
}

.bottom-tf-39 {
    bottom: calc(39px * var(--transform));
}

.right-tf-39 {
    right: calc(39px * var(--transform));
}

.w-tf-40 {
    width: calc(40px * var(--transform));
}

.h-tf-40 {
    height: calc(40px * var(--transform));
}

.mt-tf-40 {
    margin-top: calc(40px * var(--transform));
}

.mr-tf-40 {
    margin-right: calc(40px * var(--transform));
}

.mb-tf-40 {
    margin-bottom: calc(40px * var(--transform));
}

.ml-tf-40 {
    margin-left: calc(40px * var(--transform));
}

.top-tf-40 {
    top: calc(40px * var(--transform));
}

.left-tf-40 {
    left: calc(40px * var(--transform));
}

.bottom-tf-40 {
    bottom: calc(40px * var(--transform));
}

.right-tf-40 {
    right: calc(40px * var(--transform));
}

.w-tf-41 {
    width: calc(41px * var(--transform));
}

.h-tf-41 {
    height: calc(41px * var(--transform));
}

.mt-tf-41 {
    margin-top: calc(41px * var(--transform));
}

.mr-tf-41 {
    margin-right: calc(41px * var(--transform));
}

.mb-tf-41 {
    margin-bottom: calc(41px * var(--transform));
}

.ml-tf-41 {
    margin-left: calc(41px * var(--transform));
}

.top-tf-41 {
    top: calc(41px * var(--transform));
}

.left-tf-41 {
    left: calc(41px * var(--transform));
}

.bottom-tf-41 {
    bottom: calc(41px * var(--transform));
}

.right-tf-41 {
    right: calc(41px * var(--transform));
}

.w-tf-42 {
    width: calc(42px * var(--transform));
}

.h-tf-42 {
    height: calc(42px * var(--transform));
}

.mt-tf-42 {
    margin-top: calc(42px * var(--transform));
}

.mr-tf-42 {
    margin-right: calc(42px * var(--transform));
}

.mb-tf-42 {
    margin-bottom: calc(42px * var(--transform));
}

.ml-tf-42 {
    margin-left: calc(42px * var(--transform));
}

.top-tf-42 {
    top: calc(42px * var(--transform));
}

.left-tf-42 {
    left: calc(42px * var(--transform));
}

.bottom-tf-42 {
    bottom: calc(42px * var(--transform));
}

.right-tf-42 {
    right: calc(42px * var(--transform));
}

.w-tf-43 {
    width: calc(43px * var(--transform));
}

.h-tf-43 {
    height: calc(43px * var(--transform));
}

.mt-tf-43 {
    margin-top: calc(43px * var(--transform));
}

.mr-tf-43 {
    margin-right: calc(43px * var(--transform));
}

.mb-tf-43 {
    margin-bottom: calc(43px * var(--transform));
}

.ml-tf-43 {
    margin-left: calc(43px * var(--transform));
}

.top-tf-43 {
    top: calc(43px * var(--transform));
}

.left-tf-43 {
    left: calc(43px * var(--transform));
}

.bottom-tf-43 {
    bottom: calc(43px * var(--transform));
}

.right-tf-43 {
    right: calc(43px * var(--transform));
}

.w-tf-44 {
    width: calc(44px * var(--transform));
}

.h-tf-44 {
    height: calc(44px * var(--transform));
}

.mt-tf-44 {
    margin-top: calc(44px * var(--transform));
}

.mr-tf-44 {
    margin-right: calc(44px * var(--transform));
}

.mb-tf-44 {
    margin-bottom: calc(44px * var(--transform));
}

.ml-tf-44 {
    margin-left: calc(44px * var(--transform));
}

.top-tf-44 {
    top: calc(44px * var(--transform));
}

.left-tf-44 {
    left: calc(44px * var(--transform));
}

.bottom-tf-44 {
    bottom: calc(44px * var(--transform));
}

.right-tf-44 {
    right: calc(44px * var(--transform));
}

.w-tf-45 {
    width: calc(45px * var(--transform));
}

.h-tf-45 {
    height: calc(45px * var(--transform));
}

.mt-tf-45 {
    margin-top: calc(45px * var(--transform));
}

.mr-tf-45 {
    margin-right: calc(45px * var(--transform));
}

.mb-tf-45 {
    margin-bottom: calc(45px * var(--transform));
}

.ml-tf-45 {
    margin-left: calc(45px * var(--transform));
}

.top-tf-45 {
    top: calc(45px * var(--transform));
}

.left-tf-45 {
    left: calc(45px * var(--transform));
}

.bottom-tf-45 {
    bottom: calc(45px * var(--transform));
}

.right-tf-45 {
    right: calc(45px * var(--transform));
}

.w-tf-46 {
    width: calc(46px * var(--transform));
}

.h-tf-46 {
    height: calc(46px * var(--transform));
}

.mt-tf-46 {
    margin-top: calc(46px * var(--transform));
}

.mr-tf-46 {
    margin-right: calc(46px * var(--transform));
}

.mb-tf-46 {
    margin-bottom: calc(46px * var(--transform));
}

.ml-tf-46 {
    margin-left: calc(46px * var(--transform));
}

.top-tf-46 {
    top: calc(46px * var(--transform));
}

.left-tf-46 {
    left: calc(46px * var(--transform));
}

.bottom-tf-46 {
    bottom: calc(46px * var(--transform));
}

.right-tf-46 {
    right: calc(46px * var(--transform));
}

.w-tf-47 {
    width: calc(47px * var(--transform));
}

.h-tf-47 {
    height: calc(47px * var(--transform));
}

.mt-tf-47 {
    margin-top: calc(47px * var(--transform));
}

.mr-tf-47 {
    margin-right: calc(47px * var(--transform));
}

.mb-tf-47 {
    margin-bottom: calc(47px * var(--transform));
}

.ml-tf-47 {
    margin-left: calc(47px * var(--transform));
}

.top-tf-47 {
    top: calc(47px * var(--transform));
}

.left-tf-47 {
    left: calc(47px * var(--transform));
}

.bottom-tf-47 {
    bottom: calc(47px * var(--transform));
}

.right-tf-47 {
    right: calc(47px * var(--transform));
}

.w-tf-48 {
    width: calc(48px * var(--transform));
}

.h-tf-48 {
    height: calc(48px * var(--transform));
}

.mt-tf-48 {
    margin-top: calc(48px * var(--transform));
}

.mr-tf-48 {
    margin-right: calc(48px * var(--transform));
}

.mb-tf-48 {
    margin-bottom: calc(48px * var(--transform));
}

.ml-tf-48 {
    margin-left: calc(48px * var(--transform));
}

.top-tf-48 {
    top: calc(48px * var(--transform));
}

.left-tf-48 {
    left: calc(48px * var(--transform));
}

.bottom-tf-48 {
    bottom: calc(48px * var(--transform));
}

.right-tf-48 {
    right: calc(48px * var(--transform));
}

.w-tf-49 {
    width: calc(49px * var(--transform));
}

.h-tf-49 {
    height: calc(49px * var(--transform));
}

.mt-tf-49 {
    margin-top: calc(49px * var(--transform));
}

.mr-tf-49 {
    margin-right: calc(49px * var(--transform));
}

.mb-tf-49 {
    margin-bottom: calc(49px * var(--transform));
}

.ml-tf-49 {
    margin-left: calc(49px * var(--transform));
}

.top-tf-49 {
    top: calc(49px * var(--transform));
}

.left-tf-49 {
    left: calc(49px * var(--transform));
}

.bottom-tf-49 {
    bottom: calc(49px * var(--transform));
}

.right-tf-49 {
    right: calc(49px * var(--transform));
}

.w-tf-50 {
    width: calc(50px * var(--transform));
}

.h-tf-50 {
    height: calc(50px * var(--transform));
}

.mt-tf-50 {
    margin-top: calc(50px * var(--transform));
}

.mr-tf-50 {
    margin-right: calc(50px * var(--transform));
}

.mb-tf-50 {
    margin-bottom: calc(50px * var(--transform));
}

.ml-tf-50 {
    margin-left: calc(50px * var(--transform));
}

.top-tf-50 {
    top: calc(50px * var(--transform));
}

.left-tf-50 {
    left: calc(50px * var(--transform));
}

.bottom-tf-50 {
    bottom: calc(50px * var(--transform));
}

.right-tf-50 {
    right: calc(50px * var(--transform));
}

.w-tf-51 {
    width: calc(51px * var(--transform));
}

.h-tf-51 {
    height: calc(51px * var(--transform));
}

.mt-tf-51 {
    margin-top: calc(51px * var(--transform));
}

.mr-tf-51 {
    margin-right: calc(51px * var(--transform));
}

.mb-tf-51 {
    margin-bottom: calc(51px * var(--transform));
}

.ml-tf-51 {
    margin-left: calc(51px * var(--transform));
}

.top-tf-51 {
    top: calc(51px * var(--transform));
}

.left-tf-51 {
    left: calc(51px * var(--transform));
}

.bottom-tf-51 {
    bottom: calc(51px * var(--transform));
}

.right-tf-51 {
    right: calc(51px * var(--transform));
}

.w-tf-52 {
    width: calc(52px * var(--transform));
}

.h-tf-52 {
    height: calc(52px * var(--transform));
}

.mt-tf-52 {
    margin-top: calc(52px * var(--transform));
}

.mr-tf-52 {
    margin-right: calc(52px * var(--transform));
}

.mb-tf-52 {
    margin-bottom: calc(52px * var(--transform));
}

.ml-tf-52 {
    margin-left: calc(52px * var(--transform));
}

.top-tf-52 {
    top: calc(52px * var(--transform));
}

.left-tf-52 {
    left: calc(52px * var(--transform));
}

.bottom-tf-52 {
    bottom: calc(52px * var(--transform));
}

.right-tf-52 {
    right: calc(52px * var(--transform));
}

.w-tf-53 {
    width: calc(53px * var(--transform));
}

.h-tf-53 {
    height: calc(53px * var(--transform));
}

.mt-tf-53 {
    margin-top: calc(53px * var(--transform));
}

.mr-tf-53 {
    margin-right: calc(53px * var(--transform));
}

.mb-tf-53 {
    margin-bottom: calc(53px * var(--transform));
}

.ml-tf-53 {
    margin-left: calc(53px * var(--transform));
}

.top-tf-53 {
    top: calc(53px * var(--transform));
}

.left-tf-53 {
    left: calc(53px * var(--transform));
}

.bottom-tf-53 {
    bottom: calc(53px * var(--transform));
}

.right-tf-53 {
    right: calc(53px * var(--transform));
}

.w-tf-54 {
    width: calc(54px * var(--transform));
}

.h-tf-54 {
    height: calc(54px * var(--transform));
}

.mt-tf-54 {
    margin-top: calc(54px * var(--transform));
}

.mr-tf-54 {
    margin-right: calc(54px * var(--transform));
}

.mb-tf-54 {
    margin-bottom: calc(54px * var(--transform));
}

.ml-tf-54 {
    margin-left: calc(54px * var(--transform));
}

.top-tf-54 {
    top: calc(54px * var(--transform));
}

.left-tf-54 {
    left: calc(54px * var(--transform));
}

.bottom-tf-54 {
    bottom: calc(54px * var(--transform));
}

.right-tf-54 {
    right: calc(54px * var(--transform));
}

.w-tf-55 {
    width: calc(55px * var(--transform));
}

.h-tf-55 {
    height: calc(55px * var(--transform));
}

.mt-tf-55 {
    margin-top: calc(55px * var(--transform));
}

.mr-tf-55 {
    margin-right: calc(55px * var(--transform));
}

.mb-tf-55 {
    margin-bottom: calc(55px * var(--transform));
}

.ml-tf-55 {
    margin-left: calc(55px * var(--transform));
}

.top-tf-55 {
    top: calc(55px * var(--transform));
}

.left-tf-55 {
    left: calc(55px * var(--transform));
}

.bottom-tf-55 {
    bottom: calc(55px * var(--transform));
}

.right-tf-55 {
    right: calc(55px * var(--transform));
}

.w-tf-56 {
    width: calc(56px * var(--transform));
}

.h-tf-56 {
    height: calc(56px * var(--transform));
}

.mt-tf-56 {
    margin-top: calc(56px * var(--transform));
}

.mr-tf-56 {
    margin-right: calc(56px * var(--transform));
}

.mb-tf-56 {
    margin-bottom: calc(56px * var(--transform));
}

.ml-tf-56 {
    margin-left: calc(56px * var(--transform));
}

.top-tf-56 {
    top: calc(56px * var(--transform));
}

.left-tf-56 {
    left: calc(56px * var(--transform));
}

.bottom-tf-56 {
    bottom: calc(56px * var(--transform));
}

.right-tf-56 {
    right: calc(56px * var(--transform));
}

.w-tf-57 {
    width: calc(57px * var(--transform));
}

.h-tf-57 {
    height: calc(57px * var(--transform));
}

.mt-tf-57 {
    margin-top: calc(57px * var(--transform));
}

.mr-tf-57 {
    margin-right: calc(57px * var(--transform));
}

.mb-tf-57 {
    margin-bottom: calc(57px * var(--transform));
}

.ml-tf-57 {
    margin-left: calc(57px * var(--transform));
}

.top-tf-57 {
    top: calc(57px * var(--transform));
}

.left-tf-57 {
    left: calc(57px * var(--transform));
}

.bottom-tf-57 {
    bottom: calc(57px * var(--transform));
}

.right-tf-57 {
    right: calc(57px * var(--transform));
}

.w-tf-58 {
    width: calc(58px * var(--transform));
}

.h-tf-58 {
    height: calc(58px * var(--transform));
}

.mt-tf-58 {
    margin-top: calc(58px * var(--transform));
}

.mr-tf-58 {
    margin-right: calc(58px * var(--transform));
}

.mb-tf-58 {
    margin-bottom: calc(58px * var(--transform));
}

.ml-tf-58 {
    margin-left: calc(58px * var(--transform));
}

.top-tf-58 {
    top: calc(58px * var(--transform));
}

.left-tf-58 {
    left: calc(58px * var(--transform));
}

.bottom-tf-58 {
    bottom: calc(58px * var(--transform));
}

.right-tf-58 {
    right: calc(58px * var(--transform));
}

.w-tf-59 {
    width: calc(59px * var(--transform));
}

.h-tf-59 {
    height: calc(59px * var(--transform));
}

.mt-tf-59 {
    margin-top: calc(59px * var(--transform));
}

.mr-tf-59 {
    margin-right: calc(59px * var(--transform));
}

.mb-tf-59 {
    margin-bottom: calc(59px * var(--transform));
}

.ml-tf-59 {
    margin-left: calc(59px * var(--transform));
}

.top-tf-59 {
    top: calc(59px * var(--transform));
}

.left-tf-59 {
    left: calc(59px * var(--transform));
}

.bottom-tf-59 {
    bottom: calc(59px * var(--transform));
}

.right-tf-59 {
    right: calc(59px * var(--transform));
}

.w-tf-60 {
    width: calc(60px * var(--transform));
}

.h-tf-60 {
    height: calc(60px * var(--transform));
}

.mt-tf-60 {
    margin-top: calc(60px * var(--transform));
}

.mr-tf-60 {
    margin-right: calc(60px * var(--transform));
}

.mb-tf-60 {
    margin-bottom: calc(60px * var(--transform));
}

.ml-tf-60 {
    margin-left: calc(60px * var(--transform));
}

.top-tf-60 {
    top: calc(60px * var(--transform));
}

.left-tf-60 {
    left: calc(60px * var(--transform));
}

.bottom-tf-60 {
    bottom: calc(60px * var(--transform));
}

.right-tf-60 {
    right: calc(60px * var(--transform));
}

.w-tf-61 {
    width: calc(61px * var(--transform));
}

.h-tf-61 {
    height: calc(61px * var(--transform));
}

.mt-tf-61 {
    margin-top: calc(61px * var(--transform));
}

.mr-tf-61 {
    margin-right: calc(61px * var(--transform));
}

.mb-tf-61 {
    margin-bottom: calc(61px * var(--transform));
}

.ml-tf-61 {
    margin-left: calc(61px * var(--transform));
}

.top-tf-61 {
    top: calc(61px * var(--transform));
}

.left-tf-61 {
    left: calc(61px * var(--transform));
}

.bottom-tf-61 {
    bottom: calc(61px * var(--transform));
}

.right-tf-61 {
    right: calc(61px * var(--transform));
}

.w-tf-62 {
    width: calc(62px * var(--transform));
}

.h-tf-62 {
    height: calc(62px * var(--transform));
}

.mt-tf-62 {
    margin-top: calc(62px * var(--transform));
}

.mr-tf-62 {
    margin-right: calc(62px * var(--transform));
}

.mb-tf-62 {
    margin-bottom: calc(62px * var(--transform));
}

.ml-tf-62 {
    margin-left: calc(62px * var(--transform));
}

.top-tf-62 {
    top: calc(62px * var(--transform));
}

.left-tf-62 {
    left: calc(62px * var(--transform));
}

.bottom-tf-62 {
    bottom: calc(62px * var(--transform));
}

.right-tf-62 {
    right: calc(62px * var(--transform));
}

.w-tf-63 {
    width: calc(63px * var(--transform));
}

.h-tf-63 {
    height: calc(63px * var(--transform));
}

.mt-tf-63 {
    margin-top: calc(63px * var(--transform));
}

.mr-tf-63 {
    margin-right: calc(63px * var(--transform));
}

.mb-tf-63 {
    margin-bottom: calc(63px * var(--transform));
}

.ml-tf-63 {
    margin-left: calc(63px * var(--transform));
}

.top-tf-63 {
    top: calc(63px * var(--transform));
}

.left-tf-63 {
    left: calc(63px * var(--transform));
}

.bottom-tf-63 {
    bottom: calc(63px * var(--transform));
}

.right-tf-63 {
    right: calc(63px * var(--transform));
}

.w-tf-64 {
    width: calc(64px * var(--transform));
}

.h-tf-64 {
    height: calc(64px * var(--transform));
}

.mt-tf-64 {
    margin-top: calc(64px * var(--transform));
}

.mr-tf-64 {
    margin-right: calc(64px * var(--transform));
}

.mb-tf-64 {
    margin-bottom: calc(64px * var(--transform));
}

.ml-tf-64 {
    margin-left: calc(64px * var(--transform));
}

.top-tf-64 {
    top: calc(64px * var(--transform));
}

.left-tf-64 {
    left: calc(64px * var(--transform));
}

.bottom-tf-64 {
    bottom: calc(64px * var(--transform));
}

.right-tf-64 {
    right: calc(64px * var(--transform));
}

.w-tf-65 {
    width: calc(65px * var(--transform));
}

.h-tf-65 {
    height: calc(65px * var(--transform));
}

.mt-tf-65 {
    margin-top: calc(65px * var(--transform));
}

.mr-tf-65 {
    margin-right: calc(65px * var(--transform));
}

.mb-tf-65 {
    margin-bottom: calc(65px * var(--transform));
}

.ml-tf-65 {
    margin-left: calc(65px * var(--transform));
}

.top-tf-65 {
    top: calc(65px * var(--transform));
}

.left-tf-65 {
    left: calc(65px * var(--transform));
}

.bottom-tf-65 {
    bottom: calc(65px * var(--transform));
}

.right-tf-65 {
    right: calc(65px * var(--transform));
}

.w-tf-66 {
    width: calc(66px * var(--transform));
}

.h-tf-66 {
    height: calc(66px * var(--transform));
}

.mt-tf-66 {
    margin-top: calc(66px * var(--transform));
}

.mr-tf-66 {
    margin-right: calc(66px * var(--transform));
}

.mb-tf-66 {
    margin-bottom: calc(66px * var(--transform));
}

.ml-tf-66 {
    margin-left: calc(66px * var(--transform));
}

.top-tf-66 {
    top: calc(66px * var(--transform));
}

.left-tf-66 {
    left: calc(66px * var(--transform));
}

.bottom-tf-66 {
    bottom: calc(66px * var(--transform));
}

.right-tf-66 {
    right: calc(66px * var(--transform));
}

.w-tf-67 {
    width: calc(67px * var(--transform));
}

.h-tf-67 {
    height: calc(67px * var(--transform));
}

.mt-tf-67 {
    margin-top: calc(67px * var(--transform));
}

.mr-tf-67 {
    margin-right: calc(67px * var(--transform));
}

.mb-tf-67 {
    margin-bottom: calc(67px * var(--transform));
}

.ml-tf-67 {
    margin-left: calc(67px * var(--transform));
}

.top-tf-67 {
    top: calc(67px * var(--transform));
}

.left-tf-67 {
    left: calc(67px * var(--transform));
}

.bottom-tf-67 {
    bottom: calc(67px * var(--transform));
}

.right-tf-67 {
    right: calc(67px * var(--transform));
}

.w-tf-68 {
    width: calc(68px * var(--transform));
}

.h-tf-68 {
    height: calc(68px * var(--transform));
}

.mt-tf-68 {
    margin-top: calc(68px * var(--transform));
}

.mr-tf-68 {
    margin-right: calc(68px * var(--transform));
}

.mb-tf-68 {
    margin-bottom: calc(68px * var(--transform));
}

.ml-tf-68 {
    margin-left: calc(68px * var(--transform));
}

.top-tf-68 {
    top: calc(68px * var(--transform));
}

.left-tf-68 {
    left: calc(68px * var(--transform));
}

.bottom-tf-68 {
    bottom: calc(68px * var(--transform));
}

.right-tf-68 {
    right: calc(68px * var(--transform));
}

.w-tf-69 {
    width: calc(69px * var(--transform));
}

.h-tf-69 {
    height: calc(69px * var(--transform));
}

.mt-tf-69 {
    margin-top: calc(69px * var(--transform));
}

.mr-tf-69 {
    margin-right: calc(69px * var(--transform));
}

.mb-tf-69 {
    margin-bottom: calc(69px * var(--transform));
}

.ml-tf-69 {
    margin-left: calc(69px * var(--transform));
}

.top-tf-69 {
    top: calc(69px * var(--transform));
}

.left-tf-69 {
    left: calc(69px * var(--transform));
}

.bottom-tf-69 {
    bottom: calc(69px * var(--transform));
}

.right-tf-69 {
    right: calc(69px * var(--transform));
}

.w-tf-70 {
    width: calc(70px * var(--transform));
}

.h-tf-70 {
    height: calc(70px * var(--transform));
}

.mt-tf-70 {
    margin-top: calc(70px * var(--transform));
}

.mr-tf-70 {
    margin-right: calc(70px * var(--transform));
}

.mb-tf-70 {
    margin-bottom: calc(70px * var(--transform));
}

.ml-tf-70 {
    margin-left: calc(70px * var(--transform));
}

.top-tf-70 {
    top: calc(70px * var(--transform));
}

.left-tf-70 {
    left: calc(70px * var(--transform));
}

.bottom-tf-70 {
    bottom: calc(70px * var(--transform));
}

.right-tf-70 {
    right: calc(70px * var(--transform));
}

.w-tf-71 {
    width: calc(71px * var(--transform));
}

.h-tf-71 {
    height: calc(71px * var(--transform));
}

.mt-tf-71 {
    margin-top: calc(71px * var(--transform));
}

.mr-tf-71 {
    margin-right: calc(71px * var(--transform));
}

.mb-tf-71 {
    margin-bottom: calc(71px * var(--transform));
}

.ml-tf-71 {
    margin-left: calc(71px * var(--transform));
}

.top-tf-71 {
    top: calc(71px * var(--transform));
}

.left-tf-71 {
    left: calc(71px * var(--transform));
}

.bottom-tf-71 {
    bottom: calc(71px * var(--transform));
}

.right-tf-71 {
    right: calc(71px * var(--transform));
}

.w-tf-72 {
    width: calc(72px * var(--transform));
}

.h-tf-72 {
    height: calc(72px * var(--transform));
}

.mt-tf-72 {
    margin-top: calc(72px * var(--transform));
}

.mr-tf-72 {
    margin-right: calc(72px * var(--transform));
}

.mb-tf-72 {
    margin-bottom: calc(72px * var(--transform));
}

.ml-tf-72 {
    margin-left: calc(72px * var(--transform));
}

.top-tf-72 {
    top: calc(72px * var(--transform));
}

.left-tf-72 {
    left: calc(72px * var(--transform));
}

.bottom-tf-72 {
    bottom: calc(72px * var(--transform));
}

.right-tf-72 {
    right: calc(72px * var(--transform));
}

.w-tf-73 {
    width: calc(73px * var(--transform));
}

.h-tf-73 {
    height: calc(73px * var(--transform));
}

.mt-tf-73 {
    margin-top: calc(73px * var(--transform));
}

.mr-tf-73 {
    margin-right: calc(73px * var(--transform));
}

.mb-tf-73 {
    margin-bottom: calc(73px * var(--transform));
}

.ml-tf-73 {
    margin-left: calc(73px * var(--transform));
}

.top-tf-73 {
    top: calc(73px * var(--transform));
}

.left-tf-73 {
    left: calc(73px * var(--transform));
}

.bottom-tf-73 {
    bottom: calc(73px * var(--transform));
}

.right-tf-73 {
    right: calc(73px * var(--transform));
}

.w-tf-74 {
    width: calc(74px * var(--transform));
}

.h-tf-74 {
    height: calc(74px * var(--transform));
}

.mt-tf-74 {
    margin-top: calc(74px * var(--transform));
}

.mr-tf-74 {
    margin-right: calc(74px * var(--transform));
}

.mb-tf-74 {
    margin-bottom: calc(74px * var(--transform));
}

.ml-tf-74 {
    margin-left: calc(74px * var(--transform));
}

.top-tf-74 {
    top: calc(74px * var(--transform));
}

.left-tf-74 {
    left: calc(74px * var(--transform));
}

.bottom-tf-74 {
    bottom: calc(74px * var(--transform));
}

.right-tf-74 {
    right: calc(74px * var(--transform));
}

.w-tf-75 {
    width: calc(75px * var(--transform));
}

.h-tf-75 {
    height: calc(75px * var(--transform));
}

.mt-tf-75 {
    margin-top: calc(75px * var(--transform));
}

.mr-tf-75 {
    margin-right: calc(75px * var(--transform));
}

.mb-tf-75 {
    margin-bottom: calc(75px * var(--transform));
}

.ml-tf-75 {
    margin-left: calc(75px * var(--transform));
}

.top-tf-75 {
    top: calc(75px * var(--transform));
}

.left-tf-75 {
    left: calc(75px * var(--transform));
}

.bottom-tf-75 {
    bottom: calc(75px * var(--transform));
}

.right-tf-75 {
    right: calc(75px * var(--transform));
}

.w-tf-76 {
    width: calc(76px * var(--transform));
}

.h-tf-76 {
    height: calc(76px * var(--transform));
}

.mt-tf-76 {
    margin-top: calc(76px * var(--transform));
}

.mr-tf-76 {
    margin-right: calc(76px * var(--transform));
}

.mb-tf-76 {
    margin-bottom: calc(76px * var(--transform));
}

.ml-tf-76 {
    margin-left: calc(76px * var(--transform));
}

.top-tf-76 {
    top: calc(76px * var(--transform));
}

.left-tf-76 {
    left: calc(76px * var(--transform));
}

.bottom-tf-76 {
    bottom: calc(76px * var(--transform));
}

.right-tf-76 {
    right: calc(76px * var(--transform));
}

.w-tf-77 {
    width: calc(77px * var(--transform));
}

.h-tf-77 {
    height: calc(77px * var(--transform));
}

.mt-tf-77 {
    margin-top: calc(77px * var(--transform));
}

.mr-tf-77 {
    margin-right: calc(77px * var(--transform));
}

.mb-tf-77 {
    margin-bottom: calc(77px * var(--transform));
}

.ml-tf-77 {
    margin-left: calc(77px * var(--transform));
}

.top-tf-77 {
    top: calc(77px * var(--transform));
}

.left-tf-77 {
    left: calc(77px * var(--transform));
}

.bottom-tf-77 {
    bottom: calc(77px * var(--transform));
}

.right-tf-77 {
    right: calc(77px * var(--transform));
}

.w-tf-105 {
    width: calc(105px * var(--transform));
}

.h-tf-105 {
    height: calc(105px * var(--transform));
}

.mt-tf-105 {
    margin-top: calc(105px * var(--transform));
}

.mr-tf-105 {
    margin-right: calc(105px * var(--transform));
}

.mb-tf-105 {
    margin-bottom: calc(105px * var(--transform));
}

.ml-tf-105 {
    margin-left: calc(105px * var(--transform));
}

.top-tf-105 {
    top: calc(105px * var(--transform));
}

.left-tf-105 {
    left: calc(105px * var(--transform));
}

.bottom-tf-105 {
    bottom: calc(105px * var(--transform));
}

.right-tf-105 {
    right: calc(105px * var(--transform));
}

.w-tf-170 {
    width: calc(170px * var(--transform));
}

.h-tf-170 {
    height: calc(170px * var(--transform));
}

.mt-tf-170 {
    margin-top: calc(170px * var(--transform));
}

.mr-tf-170 {
    margin-right: calc(170px * var(--transform));
}

.mb-tf-170 {
    margin-bottom: calc(170px * var(--transform));
}

.ml-tf-170 {
    margin-left: calc(170px * var(--transform));
}

.top-tf-170 {
    top: calc(170px * var(--transform));
}

.left-tf-170 {
    left: calc(170px * var(--transform));
}

.bottom-tf-170 {
    bottom: calc(170px * var(--transform));
}

.right-tf-170 {
    right: calc(170px * var(--transform));
}

.w-tf-190 {
    width: calc(190px * var(--transform));
}

.h-tf-190 {
    height: calc(190px * var(--transform));
}

.mt-tf-190 {
    margin-top: calc(190px * var(--transform));
}

.mr-tf-190 {
    margin-right: calc(190px * var(--transform));
}

.mb-tf-190 {
    margin-bottom: calc(190px * var(--transform));
}

.ml-tf-190 {
    margin-left: calc(190px * var(--transform));
}

.top-tf-190 {
    top: calc(190px * var(--transform));
}

.left-tf-190 {
    left: calc(190px * var(--transform));
}

.bottom-tf-190 {
    bottom: calc(190px * var(--transform));
}

.right-tf-190 {
    right: calc(190px * var(--transform));
}

.w-tf-150 {
    width: calc(150px * var(--transform));
}

.h-tf-150 {
    height: calc(150px * var(--transform));
}

.mt-tf-150 {
    margin-top: calc(150px * var(--transform));
}

.mr-tf-150 {
    margin-right: calc(150px * var(--transform));
}

.mb-tf-150 {
    margin-bottom: calc(150px * var(--transform));
}

.ml-tf-150 {
    margin-left: calc(150px * var(--transform));
}

.top-tf-150 {
    top: calc(150px * var(--transform));
}

.left-tf-150 {
    left: calc(150px * var(--transform));
}

.bottom-tf-150 {
    bottom: calc(150px * var(--transform));
}

.right-tf-150 {
    right: calc(150px * var(--transform));
}

.w-tf-228 {
    width: calc(228px * var(--transform));
}

.h-tf-228 {
    height: calc(228px * var(--transform));
}

.mt-tf-228 {
    margin-top: calc(228px * var(--transform));
}

.mr-tf-228 {
    margin-right: calc(228px * var(--transform));
}

.mb-tf-228 {
    margin-bottom: calc(228px * var(--transform));
}

.ml-tf-228 {
    margin-left: calc(228px * var(--transform));
}

.top-tf-228 {
    top: calc(228px * var(--transform));
}

.left-tf-228 {
    left: calc(228px * var(--transform));
}

.bottom-tf-228 {
    bottom: calc(228px * var(--transform));
}

.right-tf-228 {
    right: calc(228px * var(--transform));
}

.w-tf-342 {
    width: calc(342px * var(--transform));
}

.h-tf-342 {
    height: calc(342px * var(--transform));
}

.mt-tf-342 {
    margin-top: calc(342px * var(--transform));
}

.mr-tf-342 {
    margin-right: calc(342px * var(--transform));
}

.mb-tf-342 {
    margin-bottom: calc(342px * var(--transform));
}

.ml-tf-342 {
    margin-left: calc(342px * var(--transform));
}

.top-tf-342 {
    top: calc(342px * var(--transform));
}

.left-tf-342 {
    left: calc(342px * var(--transform));
}

.bottom-tf-342 {
    bottom: calc(342px * var(--transform));
}

.right-tf-342 {
    right: calc(342px * var(--transform));
}

.border-tf-1 {
    border-width: calc(1px + var(--border--transform));
}

.border-b-tf-1 {
    border-bottom-width: calc(1px + var(--border--transform));
}

.border-tf-2 {
    border-width: calc(2px + var(--border--transform));
}

.border-b-tf-2 {
    border-bottom-width: calc(2px + var(--border--transform));
}

.border-tf-3 {
    border-width: calc(3px + var(--border--transform));
}

.border-b-tf-3 {
    border-bottom-width: calc(3px + var(--border--transform));
}

.border-tf-4 {
    border-width: calc(4px + var(--border--transform));
}

.border-b-tf-4 {
    border-bottom-width: calc(4px + var(--border--transform));
}

.top-tf--1 {
    top: calc(-1px * var(--transform));
}

.rounded-1\/2 {
    border-radius: 50%;
}

.w-4\/5 {
    width: 80%;
}

.transform.translate-full{
    transform: translate(0, 100%);
}
.transform.translate-full-reverse{
    transform: translate(0, -100%);
}

.font-tf-xs {
    font-size: calc(.5rem * var(--transform));
    line-height: calc(.6rem * var(--transform));
}

.font-tf-xs {
    font-size: calc(.3rem * var(--transform));
}